<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384807786158-objm2f9ccui46gg2cpse74r26lr8bdno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384807786158-objm2f9ccui46gg2cpse74r26lr8bdno</string>
	<key>API_KEY</key>
	<string>AIzaSyB1AHjO65zzgKrkJKFq3yNBNI2KrYdMeMU</string>
	<key>GCM_SENDER_ID</key>
	<string>384807786158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoProject</string>
	<key>PROJECT_ID</key>
	<string>crypto-facc2</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-facc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384807786158:ios:cea375e0fc1bc7ed297f3f</string>
</dict>
</plist>